@media screen and (max-width: 1200px) {

    .wilmington.location-restaurant {
        top: 28%;
        right: 0;
        width: 50%;
    }

    .toggle_icon {
        display: block;
    }

    .order-btn {
        display: none;
    }

    .header {
        display: none;
    }

    .toggle_logo {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 450px;
        font-size: 20px;
        background-color: rgb(255, 255, 255);
        padding: 30px;
        z-index: 1;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
        transition: .3s;
    }

    .mo_main_menu li a {
        font-size: 17px;
        color: #363636;
    }

    .x-icon img {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 10px;
        top: 10px;
        background-repeat: no-repeat;
    }

    .mo_main_menu li a {
        padding: 6px 10px;
        display: block;
        color: #363636;
    }

    .mo_in_menu,
    .mo_sub_menu {
        padding-left: 40px;
    }

    .close {
        transform: translateX(-100%);
        transition: .3s;
    }

    .logos-card-3,
    .logos-card {
        flex-wrap: wrap;
    }

    .cafa {
        margin-left: 0;
        margin-top: 20px;
    }

    .count-time {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .count-time .one,
    .count-time .mg-right {
        font-size: 70px;
    }

    .news-posts-one {
        margin-bottom: 40px;
    }

    /* .get-the-menu h2 {
        font-size: 42px;
        line-height: 52px;
    } */

    .get-the-menu h2 {
        font-size: 42px;
        line-height: 52px;
    }

    .get-the-menu {
        padding-top: 30px;
        padding-left: 0px;
    }

    .about-img:before {
        content: "";
        position: absolute;
        border: 7px #fff solid;
        height: 420px;
        width: 470px;
        border-radius: 50px;
        z-index: 0;
        left: 5%;
    }

    .button-1 {
        margin-top: 0px;
    }

    .about-text h2 {
        width: 100%;
    }

    .about-text p {
        width: 82%;
    }

    .our-team {
        margin-top: 40px;
    }

    .our-team-section .hading p {
        padding-bottom: 0px;
        width: 100%;
    }

    .good-taste {
        width: 100%;
        margin: auto;
    }

    .good-taste p {
        color: var(--dark);
        line-height: 28px;
        font-family: var(--popins-400);
        margin: 0;
        font-size: 16px;
    }

    #good .owl-nav.disabled {
        display: block;
        position: absolute;
        left: 48%;
        top: 100%;
    }

    .subscribe-section .get-the-menu input {
        width: 52%;
    }

    .food-photo-section.food-pic a.one {
        top: 14%;
    }

    .food-photo-section.food-pic a.two {
        top: 34%;
    }

    .food-photo-section.food-pic a.three {
        top: 53%;
    }

    .food-photo-section.food-pic a.four {
        top: 72%;
    }

    .posts-section-blog .news-posts-one,
    .contact-map {
        flex-wrap: wrap;
    }

    .blog-post-data-img img {
        width: 873px;
    }

    .blog-post-data-img .quickeat {
        top: 6%;
        left: 6%;
    }

    .contact-details span {
        font-size: 15px !important;
        margin-bottom: 5px !important;
    }

    .contact-details h6 {
        font-size: 17px !important;
    }

    .contact-map .map iframe {
        width: 100%;
        height: 350px;
    }

    .map {
        width: 100%;
    }

}

@media (max-width: 1400px) {
    .img-restaurant .slide-pic {
        width: 100%;
    }

    .wilmington {
        width: 65%;
    }

    .heading-work p {
        font-size: 16px;
        padding-top: 20px;
        line-height: 26px
    }

    .counters-section h2 {
        font-size: 34px;
        line-height: 40px;
    }

    .services-text h2 {
        margin-top: 50px;
    }

    .count-time .mg-right,
    .count-time .one {
        font-size: 48px;
    }

    .join-img:before {
        width: 91%;
        height: 91%;
        top: 15%;
    }

    .news-section h2 {
        width: 50%;
    }

    .news-post-two-data p {
        display: none;
    }

    ul.data li {
        padding-right: 14px;
    }

    .about-img img {
        width: 90%;
        height: auto;
    }

    .our-mission-img img {
        width: 100%;
    }

    .our-mission-text h2 {
        font-size: 42px;
    }

    .our-mission-text p {
        font-size: 16px;
        line-height: 25px;
    }

    .video-section-img:before {
        height: 46%;
        width: 82%;
    }

    .video-section-img img {
        width: 100%;
    }

    .counter-hading h2 {
        line-height: 51px;
        font-size: 34px;
        margin: 0;
        color: var(--black);
        font-family: var(--popins-700);
        padding-top: 40px;
    }

    .hading p {
        margin: auto;
        width: 50%;
        padding: 30px 0 40px 0;
        font-size: 16px;
    }

    .our-team img {
        width: 100%;
    }

    .blog-img a.one {
        top: 29%;
    }

    .blog-img a.two {
        top: 45%;
    }

    .blog-img a.three {
        top: 61%;
    }

    .contact-details span {
        font-size: 10px;
    }

    .contact-details h6 {
        font-size: 13px;
    }

    .contact-details h5 {
        font-size: 14px;
        line-height: 23px;
    }
}


@media screen and (max-width: 992px) {
    .restaurant {
        padding-top: 5%;
        width: 100%;
    }

    .img-restaurant .slide-pic {
        padding-top: 40px;
    }

    .wilmington {
        width: 42%;
    }

    .wilmington.location-restaurant {
        top: 28%;
        right: 0;
        width: 35%;
    }

    .food-section {
        width: 100%;
        padding-left: 0;
    }

    .count-time .one,
    .count-time .mg-right {
        font-size: 65px;
    }

    .reviews-img img {
        margin-top: 80px;
    }

    .join-img:before {
        height: 86%;
    }

    .reviews-img i {
        top: 17%;
    }

    .get-the-menu input {
        width: 100%;
    }

    .menu.contacts {
        margin-top: 40px;
    }

    .footer-two {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-img:before {
        height: 645px;
        width: 627px;
    }

    .about-img img {
        margin-top: 40px;
    }

    .our-mission-img img {
        width: 100%;
        margin-bottom: 40px;
    }

    .video-section-img {
        position: relative;
        padding: 60px 0 40px 0;
    }

    .video-section-img:before {
        height: 46%;
        width: 82%;
        top: 10%;
    }

    .about-counters-img img {
        margin-bottom: 40px;
    }

    .count-time .one,
    .count-time .mg-right {
        font-size: 58px;
        line-height: 45px;
    }

    #good .owl-nav {
        display: block;
        position: absolute;
        left: 48%;
        top: 100%;
    }

    .author.item {
        width: 99%;
        margin-left: 2px;
    }

    .get-the-menu.auto-menu form i {
        position: absolute;
        top: 0;
        left: 15.5%;
        color: #cfcfcf;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .get-the-menu h2 {
        font-size: 32px;
        line-height: 52px;
    }

    .food-photo-section img {
        width: 100%;
        margin-top: 40px;
    }

    .blog-post-data-img img {
        width: 100%;
    }
}


@media (max-width: 768px) {

    .toggle_logo {
        width: 100%;
    }

    .nice-select-one .nice-select {
        width: 100%;
        margin-bottom: 20px;
    }

    .nice-select-one {
        flex-wrap: wrap;
    }

    .wilmington {
        width: 65%;
    }

    .wilmington.location-restaurant {
        top: 28%;
        right: 0;
        width: 45%;
    }

    .food-photo-section a.one {
        top: 75%;
        right: 68%;
    }

    .food-photo-section a.two {
        top: 75%;
        right: 41%;
    }

    .food-photo-section a.three {
        top: 75%;
        right: 17%;
    }

    .join-img:before {
        height: 91%;
        top: 13%;
    }

    .reviews-img i {
        position: absolute;
        top: 16%;
        font-size: 65px;
        background-color: white;
        color: var(--theme);
        left: 3%;
        padding: 30px;
        border-radius: 50%;
        box-shadow: 0px -1px 30px 4px rgba(0, 0, 0, 0.05);
    }

    .reviews-img i:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-left: 30px solid #fff;
        border-bottom: 25px solid transparent;
        transform: rotate(45deg);
        top: 70%;
        left: 78%;
    }

    .news-section h2 {
        width: 100%;
    }

    .news-post-two {
        flex-wrap: wrap;
        display: block;
    }

    .news-post-two-data {
        margin-left: 0;
        margin-top: 40px;
    }

    .get-the-menu input {
        width: 100%;
    }

    .get-the-menu form {
        flex-wrap: wrap;
    }

    .get-the-menu.auto-menu h2 {
        font-size: 32px;
        width: 100%;
        line-height: 42px;
    }

    /* .get-the-menu .button-1 {
        margin-top: 20px;
    } */

    .get-the-menu.auto-menu form i {
        position: absolute;
        top: 0;
        left: 11.5%;
        color: #cfcfcf;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .about-img:before {
        height: 490px;
        width: 495px;
    }

    .about-img img {
        width: 89%;
        height: auto;
    }

    .card-text-data h3 {
        font-size: 32px;
        line-height: 42px;
    }

    .food-photo-section.food-pic a.two {
        top: 36%;
    }
}


@media (max-width: 576px) {

    .reviews-img img {
        margin-top: 120px;
    }

    .reviews-img i {
        top: 26%;
        font-size: 50px;
    }

    .about-img img {
        width: 80%;
        height: auto;
    }

    #good .owl-nav {
        display: block;
        position: absolute;
        left: 40%;
        padding-top: 30px;
    }

    .about-img:before {
        content: "";
        display: none;
    }
}


@media (max-width: 480px) {
    .img-restaurant .slide-pic {
        padding-top: 110px;
    }

    .nice-select-one .nice-select {
        width: 100%;
        margin-bottom: 0px;
    }

    .restaurant h1 {
        font-size: 40px;
        text-transform: capitalize;
        font-family: var(--popins-700);
        line-height: 46px;
    }

    .heading-work p {
        font-size: 14px;
        padding-top: 20px;
        line-height: 26px
    }

    .work-card p {
        width: 100%;
        color: var(--dark);
        font-family: var(--popins-400);
        margin: auto;
        font-size: 15px;
        line-height: 24px;
    }

    .city-restaurants p {
        color: #787878;
        font-family: var(--popins-400);
        font-size: 16px;
        line-height: 26px;
        width: 80%;
    }

    .wilmington {
        width: 90%;
    }

    .wilmington.location-restaurant {
        top: 20px;
        right: 50px;
        width: 75%;
    }

    .join-partnership h2 {
        font-size: 42px;
    }

    .cafa-button .end,
    .food-photo-section.food-pic a.four {
        display: none;
    }

    .food-photo-section a {
        width: 40%;
    }

    .food-photo-section a.one {
        right: 59%;
        top: 61%;
    }

    .food-photo-section a.two {
        right: 16%;
        top: 61%;
    }

    .food-photo-section a.three {
        right: 59%;
        top: 85%;
    }

    .food-content-section h2 {
        font-size: 41px;
        line-height: 58px;
        margin: 0;
        color: var(--black);
        font-family: var(--popins-700);
    }

    .food-content-section p {
        padding: 20px 0 30px;
        width: 90%;
        font-size: 16px;
        line-height: 25px;
    }

    .counters-section .count-time h2 {
        font-size: 52px;
    }

    .reviews-img i {
        position: absolute;
        top: 35%;
        font-size: 40px;
        background-color: white;
        color: var(--theme);
        left: 3%;
        padding: 20px;
        border-radius: 50%;
        box-shadow: 0px -1px 30px 4px rgba(0, 0, 0, 0.05);
    }

    .reviews-img i:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-left: 30px solid #fff;
        border-bottom: 25px solid transparent;
        transform: rotate(45deg);
        top: 58%;
        left: 67%;
    }


    .quickeat a {
        background-color: var(--theme);
        padding: 3px 13px;
        border-radius: 10px;
        color: white;
        margin-right: 10px;
        font-weight: 400;
        line-height: 28px;
        font-size: 11px;
        font-family: var(--popins-400);
    }

    .quickeat {
        position: absolute;
        top: 5%;
        left: 10%;
    }

    .news-posts-one h3 {
        color: var(--black);
        font-size: 20px;
        font-family: var(--popins-700);
        line-height: 30px;
        margin: 0;
        padding: 40px 0 20px;
    }

    .news-posts-one p {
        font-size: 15px;
        padding-bottom: 20px;
        width: 95%;
        line-height: 25px;
    }

    .item h4 {
        color: var(--dark);
        font-size: 16px;
        font-family: var(--popins-400);
        line-height: 27px;
    }

    .news-post-two .quickeat a {
        color: white;
        padding: 5px 15px;
        border-radius: 10px;
        font-size: 14px;
    }

    .join-img:before {
        height: 83%;
        top: 24%;
    }

    .Join-courier h3 {
        color: #fff;
        top: 10px;
        font-size: 22px;
        font-family: var(--popins-700);
        padding-bottom: 10px;
    }

    .Join-courier .order-btn-1 {
        background-color: var(--theme);
        color: #fff;
        padding: 11px 12px;
        text-transform: uppercase;
        border-radius: 10px;
        font-size: 14px;
    }

    .get-the-menu h2 {
        font-size: 30px;
        line-height: 38px;
    }

    .get-the-menu input {
        width: 100%;
    }

    .get-the-menu.auto-menu form i {
        position: absolute;
        top: -38px;
        left: 3.5%;
        color: #cfcfcf;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .footer-description h2 {
        color: #fff;
        font-size: 45px;
        line-height: 58px;
        width: 65%;
        margin: 0;
        padding: 35px 0 20px;
        font-family: var(--popins-700);
    }

    .footer-description p {
        color: #cfcfcf;
        line-height: 26px;
        width: 100%;
        font-family: var(--popins-400);
    }

    .menu {
        margin-top: 40px;
    }

    ul.social-media {
        display: flex;
        padding: 0;
    }

    .button-1 {
        margin-top: 20px;
    }

    .about-img:before {
        height: 250px;
        width: 280px;
    }

    .about-img img {
        width: 80%;
        height: auto;
    }

    .about-img img {
        margin-top: 0px;
    }

    .about-text h2 {
        font-size: 38px;
    }

    .about-text p {
        width: 100%;
    }

    .about-text p {
        font-size: 16px;
    }

    .our-mission-text h2 {
        font-size: 33px;
        line-height: 43px;
    }

    .card-text-data p {
        font-size: 15px;
        line-height: 24px;
        margin: 0;
        color: var(--dark);
        font-family: var(--popins-400);
    }

    .wait-a-minute h2 {
        width: 80%;
        line-height: 58px;
        font-size: 42px;
        margin: 0;
        font-family: var(--popins-700);
        color: var(--black);
    }

    .wait-a-minute p {
        margin: 0;
        font-size: 16px;
        line-height: 25px;
        font-family: var(--popins-400);
        color: var(--dark);
        width: 80%;
        padding: 20px 0;
    }

    #good .owl-nav {
        display: block;
        position: absolute;
        left: 38%;
        padding-top: 30px;
    }

    .subscribe-section .get-the-menu input {
        height: 60px;
        width: 100%;
        margin-bottom: 20px;
    }

    .subscribe-section.get-the-menu form {
        flex-wrap: wrap;
    }

    .get-the-menu form i {
        position: absolute;
        top: -46px;
        left: 4%;
        color: #cfcfcf;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .get-the-menu h2 {
        font-size: 26px;
        line-height: 45px;
    }

    .food-photo-section.food-pic a.three {
        top: 57%;
    }

    .blog-img a i {
        padding: 5px;
        font-size: 18px;
    }

    .blog-img a {
        width: 50px;
        height: 50px;
    }

    .blog-post-data-img .quickeat {
        top: 6%;
        left: 9%;
    }

    .quickeat a {
        font-size: 12px;
    }

    .join-courier h3 {
        font-size: 30px;
        font-family: var(--popins-700);
        line-height: 40px;
        color: var(--black);
        margin: 0;
        padding-bottom: 20px;
    }

    .join-courier p {
        font-family: var(--popins-400);
        font-size: 15px;
        color: var(--dark);
        margin: 0;
    }
}